@import url(../../style.css);

.grid-2-col {
	display: grid;
	grid-template-columns: 50% 50%;
}

.grid-sample-child {
	background-color: rgb(160, 21, 240);
	flex-direction: column;
}

.sample-container {
	height: auto;
	width: 40rem;
}

.grid-3-col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
