<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Grid</title>
		<link rel="stylesheet" href="./Grid.css" />
	</head>
	<body>
		<div class="grid-2-col padding-s sample-container">
			<img src="https://picsum.photos/600/200" alt="img-default" />
			<div class="grid-sample-child flex-center">
				<h1>50% off on all brands</h1>
				<p>Sales from 22nd to 31st March</p>
			</div>
		</div>
		<div></div>
		<div class="grid-3-col sample-container">
			<div class="card card-vertical">
				<div class="img-container">
					<img src="https://picsum.photos/600/500" alt="product image" />
				</div>

				<div class="card-content padding-s">
					<h2 class="card-title">
						Lorem ipsum <i class="fa-fw fas fa-heart btn-icon"></i>
					</h2>

					<span>Lorem ipsum dolor sit amet.</span>

					<div class="gap-s">
						<span class="txt-bold"> Rs.899</span>
						<span class="txt-crossed-off">Rs.999</span>
						<span class="txt-high-light">10%</span>
					</div>
					<div class="card-footer">
						<button class="btn btn-primary-solid">
							<i class="fa-fw fas fa-shopping-cart"> </i>
							<span>Add to Cart</span>
						</button>
					</div>
				</div>
			</div>
			<div class="card card-vertical">
				<div class="img-container">
					<img src="https://picsum.photos/600/500" alt="product image" />
				</div>

				<div class="card-content padding-s">
					<h2 class="card-title">
						Lorem ipsum <i class="fa-fw fas fa-heart btn-icon"></i>
					</h2>

					<span>Lorem ipsum dolor sit amet.</span>

					<div class="gap-s">
						<span class="txt-bold"> Rs.899</span>
						<span class="txt-crossed-off">Rs.999</span>
						<span class="txt-high-light">10%</span>
					</div>
					<div class="card-footer">
						<button class="btn btn-primary-solid">
							<i class="fa-fw fas fa-shopping-cart"> </i>
							<span>Add to Cart</span>
						</button>
					</div>
				</div>
			</div>
			<div class="card card-vertical">
				<div class="img-container">
					<img src="https://picsum.photos/600/500" alt="product image" />
				</div>

				<div class="card-content padding-s">
					<h2 class="card-title">
						Lorem ipsum <i class="fa-fw fas fa-heart btn-icon"></i>
					</h2>

					<span>Lorem ipsum dolor sit amet.</span>

					<div class="gap-s">
						<span class="txt-bold"> Rs.899</span>
						<span class="txt-crossed-off">Rs.999</span>
						<span class="txt-high-light">10%</span>
					</div>
					<div class="card-footer">
						<button class="btn btn-primary-solid">
							<i class="fa-fw fas fa-shopping-cart"> </i>
							<span>Add to Cart</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
