<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Card</title>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./Card.css" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="../../assets/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="../../assets/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="../../assets/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="../../assets/favicon/site.webmanifest" />
	</head>
	<body>
		<div class="grid-mainlayout-container" id="nav-bar">
			<nav class="nav-bar shadow-bottom">
				<a
					href="#"
					class="toggle-btn drawer-toggle"
					data-drawer-target="#drawer"
				>
					<span class="toggle-bar"></span>
					<span class="toggle-bar"></span>
					<span class="toggle-bar"></span>
				</a>
				<div class="nav-bar-primary">
					<ul class="nav-bar-links">
						<a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
						<li><a href="../../index.html" class="link-text">Home</a></li>
						<li>
							<a href="../Alert/Alert.html" class="link-text link-active"
								>Documentation</a
							>
						</li>
					</ul>
				</div>

				<ul class="nav-bar-links">
					<li>
						<a
							class="link"
							href="https://github.com/poornima-alugubelly"
							target="_blank"
						>
							<i class="fa-fw fab fa-github btn-icon"></i>
						</a>
					</li>

					<li>
						<a
							class="link"
							href="https://twitter.com/Moony_codes"
							target="_blank"
						>
							<i class="fa-fw fab fa-twitter btn-icon"></i>
						</a>
					</li>
				</ul>
				<ul class="drawer" id="drawer">
					<div class="drawer-header">
						<a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
						<button class="btn btn-dismiss">
							<img src="../../assets/SVG/dismiss-blue.svg" alt="" />
						</button>
					</div>

					<li class="list-item">
						<a href="../../index.html" class="link-text">Home</a>
					</li>
					<li class="list-item">
						<a href="../Alert/Alert.html" class="link-text">Documentation</a>
					</li>
				</ul>
			</nav>
			<div class="side-nav gap-s">
				<div class="nav-side-bar-btn">
					<h2>Components</h2>
					<i class="fas fa-chevron-down side-bar-icon"></i>
				</div>

				<ul class="flex-column gap-s side-nav-links">
					<li class="side-nav-item text-xs">
						<a href="../Alert/Alert.html" class="link-text">Alert</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Avatar/Avatar.html" class="link-text">Avatar</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Badge/Badge.html" class="link-text">Badge</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Button/Button.html" class="link-text">Button</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Card/Card.html" class="link-text link-active">Card</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Image/Image.html" class="link-text">Image</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Input/Input.html" class="link-text">Input</a>
					</li>

					<li class="side-nav-item text-xs">
						<a href="../List/List.html" class="link-text">List</a>
					</li>

					<li class="side-nav-item text-xs">
						<a href="../Modal/Modal.html" class="link-text">Modal</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Navigation/Navigation.html" class="link-text"
							>Navigation</a
						>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Rating/Rating.html" class="link-text">Rating</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Grid/Grid.html" class="link-text">Simplified Grid</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Slider/Slider.html" class="link-text">Slider</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Text-Utilities/Text-Utilities.html" class="link-text"
							>Text Utilities</a
						>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Toast/Toast.html" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="component-page-main container-gutter flex-column">
				<section>
					<h1 class="text-heading text-l txt-high-light margin-tp-btm-s">
						Card
					</h1>
					<p class="text-s">
						The card component can contain a variety of content, including a
						heading, image, content and a footer.There are 7 variants of cards
						here
					</p>
				</section>
				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Simple Text card
					</h2>
					<p class="text-xs">
						This is a simple text card.It has card content and footer
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<div class="card card-content padding-s">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
							veniam odio possimus minus, sint officia placeat doloremque
							explicabo quam officiis.
						</p>
						<div class="card-footer">
							<button class="btn btn-primary-solid">Read More</button>
						</div>
					</div>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2F31060c20219ea18cd1ec637a11b9091a0e2b5a6e%2Fsimple%2520card&style=ir-black&showCopy=on"></script>
				</div>
				<!-- VERTICAL CARD VARIANT 1 -->
				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Vertical card with image
					</h2>
					<p class="text-xs">
						This is vertical card with image, card content and footer.
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<div class="card card-vertical">
						<div class="img-container">
							<img
								src="../../assets/images/hitchhikers.jpg"
								alt="product image"
								class="img-responsive"
							/>
						</div>

						<div class="card-content padding-s">
							<h2 class="card-title">
								Lorem ipsum <i class="fa-fw fas fa-heart btn-icon"></i>
							</h2>

							<span>Lorem ipsum dolor sit amet.</span>

							<div class="gap-s">
								<span class="txt-bold"> Rs.899</span>
								<span class="txt-crossed-off">Rs.999</span>
								<span class="txt-high-light">10%</span>
							</div>
							<div class="card-footer">
								<button class="btn btn-primary-solid">
									<i class="fa-fw fas fa-shopping-cart"> </i>
									<span>Add to Cart</span>
								</button>
							</div>
						</div>
					</div>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2Ff0c35b71b71562296b6f69a5d21b6d921611e843%2Fcard%2520v1&style=ir-black&showCopy=on"></script>
				</div>
				<!-- VERTICAL CARD VARIANT 2 -->
				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Vertical card with badge
					</h2>
					<p class="text-xs">
						This is a variation of a vertical card, with badge.
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<div class="card card-vertical">
						<div class="img-container">
							<img
								src="../../assets/images/hitchhikers.jpg"
								alt="product image"
								class="img-responsive"
							/>
						</div>

						<div class="card-content padding-s">
							<h2 class="card-title">
								Lorem ipsum <i class="fa-fw fas fa-heart btn-icon"></i>
							</h2>

							<span>Lorem ipsum dolor sit amet.</span>

							<div class="gap-s">
								<span class="txt-bold"> Rs.899</span>
								<span class="txt-crossed-off">Rs.999</span>
								<span class="txt-high-light">10%</span>
							</div>
							<div class="card-footer">
								<button class="btn btn-primary-solid">
									<i class="fa-fw fas fa-shopping-cart"> </i>
									<span>Add to Cart</span>
								</button>
							</div>
						</div>
						<span class="tag">New!</span>
					</div>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2Fce0fa84d9957a9382ccf7cc47ec429d141b95b98%2Fcard%2520v2&style=ir-black&showCopy=on"></script>
				</div>
				<!-- VERTICAL CARD VARIANT 3 -->
				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Vertical card with dismiss
					</h2>
					<p class="text-xs">
						This is a variation of a vertical card, with dismiss.
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<div class="card card-vertical">
						<div class="img-container">
							<img
								src="../../assets/images/hitchhikers.jpg"
								alt="product image"
								class="img-responsive"
							/>
						</div>

						<div class="card-content padding-s">
							<h2 class="card-title">
								Lorem ipsum <i class="fa-fw fas fa-heart btn-icon"></i>
							</h2>

							<span>Lorem ipsum dolor sit amet.</span>

							<div class="gap-s">
								<span class="txt-bold"> Rs.899</span>
								<span class="txt-crossed-off">Rs.999</span>
								<span class="txt-high-light">10%</span>
							</div>
							<div class="card-footer">
								<button class="btn btn-primary-solid">
									<i class="fa-fw fas fa-shopping-cart"> </i>
									<span>Add to Cart</span>
								</button>
							</div>
						</div>
						<span class="tag">New!</span>
						<button class=" btn-dismiss item-top">
							<img src="../../assets/SVG/dismiss.svg" alt="" />
						</button>
					</div>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2F94a730c7a89115b69674c88f6f4950efb54eb159%2Fcard%2520v3&style=ir-black&showCopy=on"></script>
				</div>
				<!-- HORIZONTAL CARD -->
				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Horizontal Card
					</h2>
					<p class="text-xs">
						This is a horizontal card with image, badge and dismiss.
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<div class="card card-horizontal padding-s">
						<div class="img-container">
							<img
								src="../../assets/images/darthvader.jpg"
								alt="product image"
								class="img-responsive"
							/>
						</div>

						<div class="card-content">
							<h2 class="card-title">
								Lorem ipsum <i class="fa-fw fas fa-heart btn-icon"></i>
							</h2>

							<div class="gap-s">
								<span class="txt-bold"> Rs.899</span>
								<span class="txt-crossed-off">Rs.999</span>
								<span class="txt-high-light">10%</span>
							</div>
							<div class="card-footer">
								<button class="btn btn-primary-solid">
									<i class="fa-fw fas fa-shopping-cart"> </i>
									<span>Add to Cart</span>
								</button>
								<button class="btn btn-primary-outline">
									<i class="fa-fw fas fa-shopping-cart"> </i>
									<span>Move to wishlist</span>
								</button>
							</div>
						</div>
						<span class="tag">New!</span>
					</div>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2F4657ee52ebac1931fd2212eb360d23c57b2e20ef%2Fhor%2520card&style=ir-black&showCopy=on"></script>
				</div>
				<!-- Card with text overlay -->
				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Card with text overlay
					</h2>
					<p class="text-xs">This is a card with text overlay.</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<div class="card card-vertical">
						<div class="img-container">
							<img
								src="../../assets/images/hitchhikers.jpg"
								alt="product image"
								class="img-responsive"
							/>
						</div>
						<div class="text-overlay">Out of stock</div>
						<div class="card-content padding-s">
							<h2 class="card-title">
								Lorem ipsum <i class="fa-fw fas fa-heart btn-icon"></i>
							</h2>

							<span>Lorem ipsum dolor sit amet.</span>

							<div class="gap-s">
								<span class="txt-bold"> Rs.899</span>
								<span class="txt-crossed-off">Rs.999</span>
								<span class="txt-high-light">10%</span>
							</div>
							<div class="card-footer">
								<button class="btn btn-primary-solid">
									<i class="fa-fw fas fa-shopping-cart"> </i>
									<span>Add to Cart</span>
								</button>
							</div>
						</div>
						<span class="tag">New!</span>
						<button class=" btn-dismiss item-top">
							<img src="../../assets/SVG/dismiss.svg" alt="" />
						</button>
					</div>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2F55576d34929b5e20344e00590878b06053b9f282%2Fcard%2520overlay&style=ir-black&showCopy=on"></script>
				</div>
				<!-- Card with shadow -->
				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Card with shadow.
					</h2>
					<p class="text-xs">This is a card with shadow.</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<div class="card card-content padding-s card-shadow-dark">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
							veniam odio possimus minus, sint officia placeat doloremque
							explicabo quam officiis.
						</p>
						<div class="card-footer">
							<button class="btn btn-primary-solid">Read More</button>
						</div>
					</div>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2Fef96ec03423d29ff3f41f364e190686b3a9d5dbf%2Fard%2520shadow&style=ir-black&showCopy=on"></script>
				</div>
			</div>
		</div>
		<a
			href="#nav-bar"
			class="btn btn-primary-solid btn-floating btn-floating-bottom"
		>
			<i class="fas fa-arrow-up"> </i>
		</a>
		<footer class="footer flex-column">
			<p>Made by poornima</p>
			<ul class="social-links list-non-bullet flex-center">
				<li class="list-item-inline">
					<a
						class="link"
						href="https://github.com/poornima-alugubelly"
						target="_blank"
					>
						<i class="fa-fw fab fa-github fa-2x icons"></i>
					</a>
				</li>
				<li class="list-item-inline">
					<a
						class="link"
						href="https://www.linkedin.com/in/poornima-alugubelly-aa13291b6/"
						target="_blank"
					>
						<i class="fa-fw fab fa-linkedin fa-2x icons"></i>
					</a>
				</li>
				<li class="list-item-inline">
					<a
						class="link"
						href="https://twitter.com/Moony_codes "
						target="_blank"
					>
						<i class="fa-fw fab fa-twitter fa-2x icons"></i>
					</a>
				</li>
			</ul>
			<small>© 2022 Asimov Creations</small>
			<small
				><a class="acknowledgement" href="https://storyset.com/technology"
					>Technology illustrations by Storyset</a
				></small
			>
		</footer>
		<script src="../../doc-page-js/Header.js"></script>
		<script src="../../doc-page-js/Sidebar.js"></script>
	</body>
</html>
