.section-container-50-50 {
  display: grid;
  grid-template-columns: 40% calc(60% - 2rem);
  align-items: center;
}

.main-img {
  max-width: 100%;
  height: 100%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;

  line-height: 2rem;
  flex-grow: 1;
}

@media (max-width: 648px) {
  .section-container-50-50 {
    grid-template-columns: 1fr;
  }

  .call-to-action {
    flex-direction: column;
    align-items: flex-start;
  }
}
