*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	color: var(--secondary-color);
	display:flex;
	flex-direction: column;
}
