:root {
  --primary-color: #01d2ed;
  --bg-color: #000;
  --secondary-color: #c5e0e4;
  --ternary-color: rgb(2, 46, 42);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  background-color: var(--bg-color);
  color: var(--secondary-color);
}
