/* Side nav */

.side-nav {
	grid-area: sidebar;
	border-right: 1px solid var(--primary-color);
	text-align: center;
	position: sticky;
	top: 0;
	height: 100vh;
}

.nav-side-bar-btn {
	display: block;
	width: 100%;
	color: var(--primary-color);
	text-align: center;
	padding: 0.5rem;
	pointer-events: none;
}

.side-bar-icon {
	opacity: 0;
}

/* ----------- */

@media (max-width: 1024px) {
	.side-nav-links {
		opacity: 0;
	}

	.side-nav {
		border-right: none;
		background-color: var(--black);
		height: 3rem;
		box-shadow: var(--black) 0px 2px 4px 0px;
	}

	.side-bar-icon {
		opacity: 1;
	}

	.nav-side-bar-btn {
		display: flex;

		align-items: center;
		padding: 0.5rem 1rem 0rem 1rem;
		pointer-events: all;
		justify-content: space-between;
	}

	.side-nav-active.side-nav-links {
		opacity: 1;
		background: var(--black);
		width: 100%;
		z-index: 4;
	}
	.nav-bar-icon {
		transform: rotate(180deg);
	}
}
