@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("./reset.css");

:root {
	--primary-font: "Rajdhani", sans-serif;
	--secondary-font: "Chakra Petch", sans-serif;
	--ternary-font: "Orbitron", sans-serif;
}
body {
	font-family: var(--primary-font);
}
