@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("./reset.css");

:root {
  --primary-font: "Rajdhani", sans-serif;
  --secondary-font: "Chakra Petch", sans-serif;
  --ternary-font: "Orbitron", sans-serif;
}
body {
  font-family: "Orbitron", sans-serif;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Rajdhani", sans-serif;
}

.headings {
  font-family: "Chakra Petch", sans-serif;
  line-height: 1;
}

.text-xl {
  font-size: 3rem;
}

.text-l {
  font-size: 2.5rem;
}

.text-m {
  font-size: 2rem;
}

.text-s {
  font-size: 1.5rem;
}

.text-xs {
  font-size: 1.25rem;
}

@media (max-width: 780px) {
  :root {
    font-size: 80%;
  }
}
