/* text utilities */
.txt-high-light,
.icons {
	color: var(--primary-color);
}

.txt-crossed-off {
	text-decoration: line-through;
}

.txt-bold {
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

a {
	font-family: "Chakra Petch", sans-serif;
	text-decoration: none;

	color: var(--secondary-color);
}

.link-colored {
	color: var(--secondary-color);
}

.link-colored:hover {
	color: var(--primary-color);
}

/* flex and grid utilities */

.flex-row {
	display: flex;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.grid-mainlayout-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas:
		"header header header header header"
		"sidebar main main main main"
		"sidebar main main main main"
		"sidebar main main main main";
}

.text-wrapper {
	display: flex;
	flex-direction: column;

	line-height: 2rem;
	flex-grow: 1;
}

.section-container-50-50 {
	display: grid;
	grid-template-columns: 40% calc(60% - 2rem);
	align-items: center;
}

.component-page-main {
	grid-area: main;
}

.grid-sample-child {
	background-color: rgb(8, 176, 228);
	flex-direction: column;
}

/* Gutters */
.gap-s {
	gap: 1rem;
}

.gap-m {
	gap: 1.5rem;
}

.gap-l {
	gap: 2rem;
}

.gap-xl {
	gap: 3rem;
}

.padding-s {
	padding: 1rem;
}

.padding-m {
	gap: 1.5rem;
}

.padding-m {
	gap: 1.5rem;
}

.padding-l {
	gap: 2rem;
}

.padding-xl {
	gap: 3rem;
}

.padding-tp-btm-s {
	padding: 1rem 0rem;
}

.margin-tp-btm-s {
	margin: 1rem 0rem;
}

.margin-right-large {
	margin-right: 2rem;
}

.container-gutter {
	gap: 2rem;
	margin: 4rem;
}

.section-gutter {
	gap: 2rem;
	padding: 1rem;
}

/* Embeded code */

.code {
	width: 100%;
}
.code-embeded-main {
	width: 100%;
	height: 100%;
}

.code-embeded-comp {
	width: 100%;
	height: 15rem;
}

/* component show case */

.component-showcase {
	border: 1px solid var(--ternary-dark);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 3rem;
}

.component-showcase-row {
	flex-direction: row;
	align-items: center;
}

/* dismiss button */
.btn-dismiss {
	background: none;
	height: 1rem;
	width: 1rem;
	opacity: 0.7;
}

.btn-dismiss > img {
	height: 1rem;
	width: 1rem;
}

.item-top {
	position: absolute;

	top: 1%;

	right: 1%;
}

.btn-dismiss:hover {
	opacity: 1;
}
/* Others*/
.main-img {
	max-width: 100%;
	height: 100%;
}

.holo-bg {
	background-color: var(--ternary-color);
	border: 1px solid var(--primary-color);
	border-radius: 6px;
}

.rounded-border {
	border-radius: 2px;
}

.element-round {
	border-radius: 50%;
}

/* footer */
.footer {
	padding: 3rem;
	text-align: center;
	border-top: 1px solid var(--secondary-color);
	gap: 1rem;
	color: var(--secondary-color);
}

.footer a {
	color: var(--secondary-color);
}

@media (max-width: 992px) {
	.container-gutter {
		gap: 1rem;
		margin: 1rem;
	}
	.grid-mainlayout-container {
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"sidebar"
			"main";
	}

	.section-gutter {
		gap: 0.5rem;
		padding: 0.5rem;
	}
	.section-container-50-50 {
		grid-template-columns: 1fr;
	}

	.call-to-action {
		flex-direction: column;
		align-items: flex-start;
	}
}
