@import url(../../style.css);

.input,
.text-area {
	background-color: var(--ternary-color);
	border: 1px solid var(--primary-dark);
	outline: none;
	color: var(--secondary-color);
	padding: 7px;
}

.input:hover,
.input:focus,
.text-area:hover,
.text-area:focus {
	border: 1px solid var(--primary-color);
	background-color: var(--ternary-dark);
}

.input-radio,
.input-checkbox {
	cursor: pointer;
	appearance: none;
	width: 1.2rem;
	height: 1.2rem;
	border: 2px solid var(--primary-dark);
	display: grid;
	place-content: center;
}

.input-radio::before,
.input-checkbox::before {
	content: "";
	width: 0.7rem;
	height: 0.7rem;
	transform: scale(0);
	background-color: var(--primary-color);
}

.input-radio::before {
	border-radius: 50%;
}

.input-radio:checked::before,
.input-checkbox:checked::before {
	transform: scale(1);
}

.form-container {
	height: auto;
	max-width: 20rem;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	background-color: var(--ternary-color);
	border: 1px solid var(--primary-color);
}
.form-error-msg {
	color: red;
	display: none;
}

.input-invalid + .form-error-msg {
	display: block;
}

.input.input-invalid {
	border: 2px solid red;
}

.input::placeholder {
	color: var(--shadow-color);
	font-family: var(--primary-font);
}

.input-validation:not(:placeholder-shown):valid {
	background: url(../../assets/SVG/check.svg) no-repeat scroll 7px 7px;
	background-size: 1rem;
	padding-left: 30px;
}

.form-required-field:after {
	content: " *";
	color: var(--primary-color);
}

@media (max-width: 768px) {
	.form-container {
		padding: 1rem;
	}
}
