<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Input</title>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./Input.css" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="../../assets/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="../../assets/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="../../assets/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="../../assets/favicon/site.webmanifest" />
	</head>
	<body>
		<div class="grid-mainlayout-container">
			<nav class="nav-bar shadow-bottom" id="nav-bar">
				<a
					href="#"
					class="toggle-btn drawer-toggle"
					data-drawer-target="#drawer"
				>
					<span class="toggle-bar"></span>
					<span class="toggle-bar"></span>
					<span class="toggle-bar"></span>
				</a>
				<div class="nav-bar-primary">
					<ul class="nav-bar-links">
						<a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
						<li><a href="../../index.html" class="link-text">Home</a></li>
						<li>
							<a href="../Alert/Alert.html" class="link-text link-active"
								>Documentation</a
							>
						</li>
					</ul>
				</div>

				<ul class="nav-bar-links">
					<li>
						<a
							class="link"
							href="https://github.com/poornima-alugubelly"
							target="_blank"
						>
							<i class="fa-fw fab fa-github btn-icon"></i>
						</a>
					</li>

					<li>
						<a
							class="link"
							href="https://twitter.com/Moony_codes"
							target="_blank"
						>
							<i class="fa-fw fab fa-twitter btn-icon"></i>
						</a>
					</li>
				</ul>
				<ul class="drawer" id="drawer">
					<div class="drawer-header">
						<a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
						<button class="btn btn-dismiss">
							<img src="../../assets/SVG/dismiss-blue.svg" alt="" />
						</button>
					</div>

					<li class="list-item">
						<a href="../../index.html" class="link-text">Home</a>
					</li>
					<li class="list-item">
						<a href="../Alert/Alert.html" class="link-text">Documentation</a>
					</li>
				</ul>
			</nav>
			<div class="side-nav gap-s">
				<div class="nav-side-bar-btn">
					<h2>Components</h2>
					<i class="fas fa-chevron-down side-bar-icon"></i>
				</div>

				<ul class="flex-column gap-s side-nav-links">
					<li class="side-nav-item text-xs">
						<a href="../Alert/Alert.html" class="link-text">Alert</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Avatar/Avatar.html" class="link-text">Avatar</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Badge/Badge.html" class="link-text">Badge</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Button/Button.html" class="link-text">Button</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Card/Card.html" class="link-text">Card</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Image/Image.html" class="link-text">Image</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Input/Input.html" class="link-text link-active"
							>Input</a
						>
					</li>

					<li class="side-nav-item text-xs">
						<a href="../List/List.html" class="link-text">List</a>
					</li>

					<li class="side-nav-item text-xs">
						<a href="../Modal/Modal.html" class="link-text">Modal</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Navigation/Navigation.html" class="link-text"
							>Navigation</a
						>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Rating/Rating.html" class="link-text">Rating</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Grid/Grid.html" class="link-text">Simplified Grid</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Slider/Slider.html" class="link-text">Slider</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Text-Utilities/Text-Utilities.html" class="link-text"
							>Text Utilities</a
						>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Toast/Toast.html" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="component-page-main container-gutter flex-column">
				<section>
					<h1 class="text-heading text-l txt-high-light margin-tp-btm-s">
						Input
					</h1>
					<p class="text-s">
						Input are the primary way to get data from user. Custom variations
						of different kinds of input are available
					</p>
				</section>
				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Primary Inputs
					</h2>
					<p class="text-xs">
						Here are textarea input , text input , number input and password
						input
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<textarea
						class="text-area"
						name=""
						id=""
						cols="30"
						rows="10"
						class="text-area"
						placeholder="Write a comment..."
					></textarea>
					<input type="text" class="input" placeholder="Enter text" />
					<input type="number" class="input" placeholder="Enter Number" />
					<input type="password" class="input" placeholder="Enter password" />
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2F5b552e1d62fe8440d1482ce226b8cb3787b759ec%2Finput%2520primary&style=ir-black&showCopy=on"></script>
				</div>

				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Radio & Checkbox input
					</h2>

					<p class="text-xs">
						To use this custom radio input use the class 'input-radio' and
						'input-checkbox' for checkbox.
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<div class="flex-row gap-s">
						<label for="radio-input-1" class="flex-row gap-s">
							<input
								type="radio"
								class="input-radio element-round"
								id="radio-input-1"
								name="radio-item"
							/>

							<span>Blue Pill</span>
						</label>
						<label for="radio-input-2" class="flex-row gap-s">
							<input
								type="radio"
								class="input-radio element-round"
								id="radio-input-2"
								name="radio-item"
							/>
							<span>Red Pill</span>
						</label>

						<label for="checkbox-input" class="flex-row gap-s">
							<input
								type="checkbox"
								name="checkbox"
								id="checkbox-input"
								class="input-checkbox"
							/>
							Checkbox
						</label>
					</div>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2Fe4f93e33d6afe9df2b9c38a584b6f39ae5edd1ed%2Fradio%2520and%2520check&style=ir-black&showCopy=on"></script>
				</div>

				<section>
					<h2 class="text-heading text-m txt-high-light margin-tp-btm-s">
						Input validation
					</h2>

					<p class="text-xs">
						Validation is done while user enters the input.Use the class
						'input-invalid' on the inputs to use this functionality
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<form action="" class="form-container" novalidate>
						<label for="username-input" class="form-required-field">
							Username</label
						>

						<input
							type="text"
							class="input input-invalid"
							id="username-input"
							placeholder="Enter username"
							required
						/>
						<span class="form-error-msg">Required</span>
						<label for="email-input"> </label>
						Email
						<input
							type="email"
							class="input input-invalid"
							id="email-input"
							placeholder="Enter Email"
							required
						/>
						<span class="form-error-msg">Enter valid Email</span>

						<label for="email-password"> Password </label>
						<input
							type="password"
							class="input input-invalid"
							id="email-password"
							pattern="^.{8,}$"
							required
							placeholder="Enter Password"
						/>

						<span class="form-error-msg"
							>Password must have atleast 8 characters</span
						>
					</form>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2Fadadc4545c49a80b90b0e3f723d115d48afec41d%2Finput%2520valid&style=ir-black&showCopy=on"></script>
				</div>
			</div>
		</div>
		<a
			href="#nav-bar"
			class="btn btn-primary-solid btn-floating btn-floating-bottom"
		>
			<i class="fas fa-arrow-up"> </i>
		</a>
		<footer class="footer flex-column">
			<p>Made by poornima</p>
			<ul class="social-links list-non-bullet flex-center">
				<li class="list-item-inline">
					<a
						class="link"
						href="https://github.com/poornima-alugubelly"
						target="_blank"
					>
						<i class="fa-fw fab fa-github fa-2x icons"></i>
					</a>
				</li>
				<li class="list-item-inline">
					<a
						class="link"
						href="https://www.linkedin.com/in/poornima-alugubelly-aa13291b6/"
						target="_blank"
					>
						<i class="fa-fw fab fa-linkedin fa-2x icons"></i>
					</a>
				</li>
				<li class="list-item-inline">
					<a
						class="link"
						href="https://twitter.com/Moony_codes "
						target="_blank"
					>
						<i class="fa-fw fab fa-twitter fa-2x icons"></i>
					</a>
				</li>
			</ul>
			<small>© 2022 Asimov Creations</small>
			<small
				><a class="acknowledgement" href="https://storyset.com/technology"
					>Technology illustrations by Storyset</a
				></small
			>
		</footer>
		<script src="../../doc-page-js/Header.js"></script>
		<script src="../../doc-page-js/Sidebar.js"></script>
	</body>
</html>
