@import url(../../style.css);
.btn {
  padding: 0.75rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 1px;

  font-family: "Orbitron", sans-serif;
  cursor: pointer;
  border: none;
}

.btn-primary-solid {
  color: var(--ternary-color);
  background-color: var(--primary-color);
}

.btn-primary-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--ternary-color);
}

.btn-primary-solid:hover {
  background-color: rgb(76, 167, 157);
  box-shadow: 0 2px 8px 2px rgba(119, 174, 206, 0.4);
}

.btn-primary-outline:hover {
  background-color: var(--primary-color);
  color: var(--ternary-color);
}

.link-text {
  color: var(--secondary-color);
  border-bottom: 1px double var(--primary-color);
}

.link-text:hover {
  color: var(--primary-color);
}

.btn-icon {
  color: var(--primary-color);
}

.btn-icon:hover {
  color: rgb(76, 167, 157);
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-lg {
  padding: 1rem;
}

.btn-s {
  padding: 0.5rem;
}

.btn-floating {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.btn-floating-bottom {
  position: absolute;
  bottom: 3%;
  right: 2%;
}
