<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./Button.css" />
  </head>
  <body>
    <section class="container" style="padding: 1rem">
      <button class="btn btn-primary-solid">Primary</button>
      <button class="btn btn-primary-outline">Secondary</button>
      <a href="#" class="link-text">Button link</a>
      <a href="#" target="_blank">
        <i class="fa-fw fas fa-shopping-cart btn-icon"></i>
      </a>
      <button class="btn btn-primary-solid">
        <i class="fa-fw fas fa-shopping-cart"> </i>
        <span>Add to Cart</span>
      </button>
      <button class="btn btn-primary-solid btn-disabled">Primary</button>
      <button class="btn btn-primary-outline btn-disabled">Secondary</button>
      <a href="#" class="link-text btn-disabled">Button link</a>
      <button class="btn btn-primary-solid btn-disabled">
        <i class="fa-fw fas fa-shopping-cart"> </i>
        <span>Add to Cart</span>
      </button>
      <button class="btn btn-primary-solid btn-lg">large btn</button>
      <button class="btn btn-primary-solid btn-s">Small btn</button>
      <button class="btn btn-primary-solid btn-floating">
        <i class="fas fa-plus"></i>
      </button>
    </section>
  </body>
</html>
