<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./Avatar.css" />
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <div class="grid-mainlayout-container">
      <nav class="nav-bar shadow-bottom">
        <a
          href="#"
          class="toggle-btn drawer-toggle"
          data-drawer-target="#drawer"
        >
          <span class="toggle-bar"></span>
          <span class="toggle-bar"></span>
          <span class="toggle-bar"></span>
        </a>
        <div class="nav-bar-primary">
          <ul class="nav-bar-links">
            <a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
            <li><a href="../../index.html" class="link-text">Home</a></li>
            <li>
              <a href="../Alert/Alert.html" class="link-text">Documentation</a>
            </li>
          </ul>
        </div>
  
        <ul class="nav-bar-links">
          <li>
            <a
              class="link"
              href="https://github.com/poornima-alugubelly"
              target="_blank"
            >
              <i class="fa-fw fab fa-github btn-icon"></i>
            </a>
          </li>
  
          <li>
            <a
              class="link"
              href="https://twitter.com/Moony_codes"
              target="_blank"
            >
              <i class="fa-fw fab fa-twitter btn-icon"></i>
            </a>
          </li>
        </ul>
        <ul class="drawer" id="drawer">
          <div class="drawer-header">
            <a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
            <button class="btn btn-dismiss">
              <img src="../../assets/SVG/dismiss-blue.svg" alt="" />
            </button>
          </div>
  
          <li class="list-item">
            <a href="../../index.html" class="link-text">Home</a>
          </li>
          <li class="list-item">
            <a href="../Alert/Alert.html" class="link-text">Documentation</a>
          </li>
        </ul>
      </nav>
      <div class="side-nav gap-s">
        <div class="nav-side-bar-btn">
          <h2>Components</h2>
          <i class="fas fa-chevron-down side-bar-icon"></i>
        </div>
  
        <ul class="flex-column gap-s side-nav-links">
          <li class="side-nav-item text-xs">
            <a href="../Alert/Alert.html" class="link-text">Alert</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Avatar/Avatar.html" class="link-text">Avatar</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Badge/Badge.html" class="link-text">Badge</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Button/Button.html" class="link-text">Button</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Card/Card.html" class="link-text">Card</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Image/Image.html" class="link-text">Image</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Input/Input.html" class="link-text">Input</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Text-Utilities/Text-Utilities.html" class="link-text"
              >Text Utilities</a
            >
          </li>
          <li class="side-nav-item text-xs">
            <a href="../List/List.html" class="link-text">List</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Navigation/Navigation.html" class="link-text"
              >Navigation</a
            >
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Modal/Modal.html" class="link-text">Modal</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Rating/Rating.html" class="link-text">Rating</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Toast/Toast.html" class="link-text">Toast</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="#" class="link-text">Simplified Grid</a>
          </li>
        </ul>
      </div>
        <!-- COMPONENT INFO START -->
        <div class="component-page-main container-gutter flex-column">
          <section>
            <h1 class="text-heading text-l txt-high-light margin-tp-btm">Avatar</h1>
            <p class="text-s">
              Avatar components of three different variants circle with image, hexagonal with image and circle with text and  5 different sizes can be found
            </p>
          </section>
          <section">
            <h2 class="text-heading text-m txt-high-light margin-tp-btm">Image Avatar</h2>
            <p class="text-xs">
              Image avatar of 5 different sizes are available.
            </p>
            <p class="text-xs">You can copy html part from below code snippet.</p>
          </section>
          <section class="component-showcase component-showcase-row">
            <div class="avatar avatar-xl">
              <img class="avatar-round" src="../../assets/images/cybergirl.jpg" alt="Avatar-round" />
            </div>
            <div class="avatar avatar-l">
              <img class="avatar-round" src="../../assets/images/cybergirl.jpg" alt="Avatar-round" />
            </div>
            <div class="avatar avatar-m">
              <img class="avatar-round" src="../../assets/images/cybergirl.jpg" alt="Avatar-round" />
            </div>
            <div class="avatar avatar-s">
              <img class="avatar-round" src="../../assets/images/cybergirl.jpg" alt="Avatar-round" />
            </div>
            <div class="avatar avatar-xs">
              <img class="avatar-round" src="../../assets/images/cybergirl.jpg" alt="Avatar-round" />
            </div>
          </section>
          <code>
            <embed class="code-embeded-comp" src="https://carbon.now.sh/embed/lTkzpabnDdjBhfQStQx0" >
          </code>
          
          <section>
            <h2 class="text-heading text-m txt-high-light margin-tp-btm">Image Avatar Hexagonal</h2>
            <p class="text-xs">
              Image avatar of hexagonal shape of 5 different sizes are available.
            </p>
            <p class="text-xs">You can copy html part from below code snippet.</p>
          </section>
          <section class="component-showcase component-showcase-row">
            <div class="avatar avatar-xl">
              <img class="avatar-hexa" src="../../assets/images/cybergirl2.jpg" alt="Avatar-hexagonal" />
            </div>
            <div class="avatar avatar-l">
              <img class="avatar-hexa" src="../../assets/images/cybergirl2.jpg" alt="Avatar-hexagonal" />
            </div>
            <div class="avatar avatar-m">
              <img class="avatar-hexa" src="../../assets/images/cybergirl2.jpg" alt="Avatar-hexagonal" />
            </div>
            <div class="avatar avatar-s">
              <img class="avatar-hexa" src="../../assets/images/cybergirl2.jpg" alt="Avatar-hexagonal" />
            </div>
            <div class="avatar avatar-xs">
              <img class="avatar-hexa" src="../../assets/images/cybergirl2.jpg" alt="Avatar-hexagonal" />
            </div>
          </section>
          <code>
            <embed class="code-embeded-comp" src="https://carbon.now.sh/embed/lTkzpabnDdjBhfQStQx0" >
          </code>
          <section>
            <h2 class="text-heading text-m txt-high-light margin-tp-btm">Text Avatar</h2>
            <p class="text-xs">
              Text avatar of 5 different sizes are available.
            </p>
            <p class="text-xs">You can copy html part from below code snippet.</p>
          </section>
          <section class="component-showcase component-showcase-row">
            <div class="avatar avatar-txt avatar-xl">PA</div>
      <div class="avatar avatar-txt avatar-l">PA</div>
      <div class="avatar avatar-txt avatar-m">PA</div>
      <div class="avatar avatar-txt avatar-s">PA</div>
      <div class="avatar avatar-txt avatar-xs">PA</div>
          </section>
          <code>
            <embed class="code-embeded-comp" src="https://carbon.now.sh/embed/lTkzpabnDdjBhfQStQx0" >
          </code>
        </div>
      </div>
    </div>
      <!-- COMPONENT INFO END -->
      <footer class="footer flex-column">
        <p>Made by poornima</p>
        <ul class="social-links list-non-bullet flex-center">
          <li class="list-item-inline">
            <a
              class="link"
              href="https://github.com/poornima-alugubelly"
              target="_blank"
            >
              <i class="fa-fw fab fa-github fa-2x icons"></i>
            </a>
          </li>
          <li class="list-item-inline">
            <a
              class="link"
              href="https://www.linkedin.com/in/poornima-alugubelly-aa13291b6/"
              target="_blank"
            >
              <i class="fa-fw fab fa-linkedin fa-2x icons"></i>
            </a>
          </li>
          <li class="list-item-inline">
            <a
              class="link"
              href="https://twitter.com/Moony_codes "
              target="_blank"
            >
              <i class="fa-fw fab fa-twitter fa-2x icons"></i>
            </a>
          </li>
        </ul>
        <small>© 2022 Asimov Creations</small>
        <small
          ><a class="acknowledgement" href="https://storyset.com/technology"
            >Technology illustrations by Storyset</a
          ></small
        >
      </footer>
      <script src="../../doc-page-js/Header.js"></script>
      <script src="../../doc-page-js/Sidebar.js"></script>
    
    
  </body>
</html>
