<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Asimov-UI/components/Avatar/Avatar.css" />
  </head>
  <body>
    <section class="flex-center">
      <div class="avatar avatar-xs">
        <img class="avatar-round" src="https://picsum.photos/200/300" alt="" />
      </div>
      <div class="avatar avatar-s">
        <img class="avatar-round" src="https://picsum.photos/200/300" alt="" />
      </div>
      <div class="avatar avatar-m">
        <img class="avatar-round" src="https://picsum.photos/200/300" alt="" />
      </div>
      <div class="avatar avatar-l">
        <img class="avatar-round" src="https://picsum.photos/200/300" alt="" />
      </div>
      <div class="avatar avatar-xl">
        <img class="avatar-round" src="https://picsum.photos/200/300" alt="" />
      </div>
    </section>
    <section class="flex-center">
      <div class="avatar avatar-xs">
        <img class="avatar-hexa" src="https://picsum.photos/200/300" alt="" />
      </div>
      <div class="avatar avatar-s">
        <img class="avatar-hexa" src="https://picsum.photos/200/300" alt="" />
      </div>
      <div class="avatar avatar-m">
        <img class="avatar-hexa" src="https://picsum.photos/200/300" alt="" />
      </div>
      <div class="avatar avatar-l">
        <img class="avatar-hexa" src="https://picsum.photos/200/300" alt="" />
      </div>
      <div class="avatar avatar-xl">
        <img class="avatar-hexa" src="https://picsum.photos/200/300" alt="" />
      </div>
    </section>
    <section class="flex-center">
      <div class="avatar avatar-txt avatar-xs">PA</div>
      <div class="avatar avatar-txt avatar-s">PA</div>
      <div class="avatar avatar-txt avatar-m">PA</div>
      <div class="avatar avatar-txt avatar-l">PA</div>
      <div class="avatar avatar-txt avatar-xl">PA</div>
    </section>
  </body>
</html>
