@import url("../../style.css");

.toast {
	height: 4rem;
	width: fit-content;
	max-width: 15rem;
	display: flex;
	opacity: 0.9;
	border-radius: 6px;
}

.toast-message {
	display: flex;
	align-items: center;
	padding: 5px 10px;
}

.toast > .btn-dismiss {
	height: 100%;
	margin-left: auto;
	width: fit-content;
}

.toast-red {
	color: rgb(245, 122, 122);
	background-color: rgb(85, 9, 9);
}

.toast-green {
	color: #54df74;
	background-color: #0a5f1c;
}

.toast-default {
	background-color: var(--ternary-dark);
}
