<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast</title>
    <link rel="stylesheet" href="./Toast.css" />
  </head>
  <body>
    <div class="toast toast-default">
      <span class="toast-message"> Product has been added to cart</span>
      <button class="btn btn-dismiss">
        <img src="../../assets/SVG/dismiss-blue.svg" alt="" />
      </button>
    </div>
    <div class="toast toast-red">
      <span class="toast-message">Error! Please try again</span>
      <button class="btn btn-dismiss">
        <img src="../../assets/SVG/dismiss-blue.svg" alt="" />
      </button>
    </div>
    <div class="toast toast-green">
      <span class="toast-message"> Success</span>
      <button class="btn btn-dismiss">
        <img src="../../assets/SVG/dismiss-blue.svg" alt="" />
      </button>
    </div>
  </body>
</html>
