<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Navigation</title>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./Navigation.css" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="../../assets/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="../../assets/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="../../assets/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="../../assets/favicon/site.webmanifest" />
	</head>
	<body>
		<div class="grid-mainlayout-container">
			<nav class="nav-bar shadow-bottom" id="nav-bar">
				<a
					href="#"
					class="toggle-btn drawer-toggle"
					data-drawer-target="#drawer"
				>
					<span class="toggle-bar"></span>
					<span class="toggle-bar"></span>
					<span class="toggle-bar"></span>
				</a>
				<div class="nav-bar-primary">
					<ul class="nav-bar-links">
						<a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
						<li><a href="../../index.html" class="link-text">Home</a></li>
						<li>
							<a href="../Alert/Alert.html" class="link-text link-active"
								>Documentation</a
							>
						</li>
					</ul>
				</div>

				<ul class="nav-bar-links">
					<li>
						<a
							class="link"
							href="https://github.com/poornima-alugubelly"
							target="_blank"
						>
							<i class="fa-fw fab fa-github btn-icon"></i>
						</a>
					</li>

					<li>
						<a
							class="link"
							href="https://twitter.com/Moony_codes"
							target="_blank"
						>
							<i class="fa-fw fab fa-twitter btn-icon"></i>
						</a>
					</li>
				</ul>
				<ul class="drawer" id="drawer">
					<div class="drawer-header">
						<a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
						<button class="btn btn-dismiss">
							<img src="../../assets/SVG/dismiss-blue.svg" alt="" />
						</button>
					</div>

					<li class="list-item">
						<a href="../../index.html" class="link-text">Home</a>
					</li>
					<li class="list-item">
						<a href="../Alert/Alert.html" class="link-text">Documentation</a>
					</li>
				</ul>
			</nav>

			<div class="side-nav gap-s">
				<div class="nav-side-bar-btn">
					<h2>Components</h2>
					<i class="fas fa-chevron-down side-bar-icon"></i>
				</div>

				<ul class="flex-column gap-s side-nav-links">
					<li class="side-nav-item text-xs">
						<a href="../Alert/Alert.html" class="link-text">Alert</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Avatar/Avatar.html" class="link-text">Avatar</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Badge/Badge.html" class="link-text">Badge</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Button/Button.html" class="link-text">Button</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Card/Card.html" class="link-text">Card</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Image/Image.html" class="link-text">Image</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Input/Input.html" class="link-text">Input</a>
					</li>

					<li class="side-nav-item text-xs">
						<a href="../List/List.html" class="link-text">List</a>
					</li>

					<li class="side-nav-item text-xs">
						<a href="../Modal/Modal.html" class="link-text">Modal</a>
					</li>
					<li class="side-nav-item text-xs">
						<a
							href="../Navigation/Navigation.html"
							class="link-text link-active"
							>Navigation</a
						>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Rating/Rating.html" class="link-text">Rating</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Grid/Grid.html" class="link-text">Simplified Grid</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Slider/Slider.html" class="link-text">Slider</a>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Text-Utilities/Text-Utilities.html" class="link-text"
							>Text Utilities</a
						>
					</li>
					<li class="side-nav-item text-xs">
						<a href="../Toast/Toast.html" class="link-text">Toast</a>
					</li>
				</ul>
			</div>

			<div class="component-page-main container-gutter flex-column">
				<section class="section-container">
					<h1 class="text-heading text-l txt-high-light margin-tp-btm-s">
						Navigation
					</h1>
					<p class="text-s">
						Three three kinds of navbars are available Simple Navigation ,
						Responsive Navigation , Submenu Navigation
					</p>
				</section>
				<section class="section-container">
					<h1 class="text-heading text-l txt-high-light margin-tp-btm-s">
						Simple Navigation
					</h1>
					<p class="text-s">
						This navbar component is a horizontal navigation bar suitable for
						desktop.
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>

				<section class="component-showcase">
					<nav class="nav-bar one-edge-shadow">
						<div class="nav-bar-primary example-1">
							<ul class="nav-bar-links flex-row">
								<a href="#" class="nav-bar-logo">ASIMOV</a>
								<li><a href="#" class="link-text">Home</a></li>
								<li><a href="#" class="link-text">Shop Now</a></li>
							</ul>
						</div>
					</nav>
				</section>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2Fb763be2dab88feed1f4879c3531f57c07d0d84eb%2Fnavigation&style=ir-black&showCopy=on"></script>
				</div>
				<section class="section-container">
					<h1 class="text-heading text-l txt-high-light margin-tp-btm-s">
						Responsive Navigation
					</h1>
					<p class="text-s">
						This navbar component is a Responsive navbar, change the size of the
						screen to see the changes, on lower screen sizes the primary nav
						links change to a hamburger menu.
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>

				<section class="component-showcase">
					<nav class="nav-bar one-edge-shadow">
						<a
							href="#drawer-example"
							class="toggle-btn drawer-toggle"
							data-drawer-target="#drawer-example"
						>
							<span class="toggle-bar"></span>
							<span class="toggle-bar"></span>
							<span class="toggle-bar"></span>
						</a>
						<div class="nav-bar-primary">
							<ul class="nav-bar-links flex-row">
								<a href="#" class="nav-bar-logo">ASIMOV</a>
								<li><a href="#" class="link-text">Home</a></li>
								<li><a href="#" class="link-text">Shop Now</a></li>
							</ul>
						</div>
						<ul class="drawer" id="drawer-example">
							<div class="drawer-header">
								<a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
								<button class="btn btn-dismiss">
									<img src="../../assets/SVG/dismiss-blue.svg" alt="" />
								</button>
							</div>

							<li class="list-item">
								<a href="../../index.html" class="link-text">Home</a>
							</li>
							<li class="list-item">
								<a href="../Alert/Alert.html" class="link-text"
									>Documentation</a
								>
							</li>
						</ul>
					</nav>
				</section>
				<p class="text-xs">HTML code for responsive nav</p>
				<div class="code-snippet">
					<script src="https://emgithub.com./embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2F029807e22fb9e46c1c3f95a9efd1c70a79786fd9%2Fnav%2520responsive&style=ir-black&showCopy=on"></script>
				</div>
				<p class="text-xs">Javascript code for responsive nav functionality</p>
				<div class="code-snippet">
					<script src="https://emgithub.com./embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2Fb2d220a2d11243f4eb891e1527357e0ddb9e4bee%2Fnav%2520res%2520js&style=ir-black&showCopy=on"></script>
				</div>
				<p class="text-xs"></p>
				<section class="section-container">
					<h1 class="text-heading text-l txt-high-light margin-tp-btm-s">
						Submenu Navigation
					</h1>
					<p class="text-s">
						The submenu navbar component can have another menu within the navbar
						click on Shop Now in the below component to see how it works.
					</p>
					<p class="text-xs">You can copy html part from below code snippet.</p>
				</section>
				<section class="component-showcase">
					<nav class="nav-bar one-edge-shadow">
						<ul class="nav-bar-links flex-row">
							<a href="#" class="nav-bar-logo">ASIMOV</a>
							<li><a href="#" class="link-text">Home</a></li>
							<div class="dropdown-container">
								<button class="btn-dropdown link-text btn-with-icon">
									<span>Shop now</span>
									<i class="fas fa-chevron-down icon-dropdown"></i>
								</button>
								<ul class="drop-down">
									<li class="list-item"><a href="#">Cyberpunk</a></li>
									<li class="list-item"><a href="#">Space Opera</a></li>
									<li class="list-item"><a href="#">Time Travel</a></li>
								</ul>
							</div>
						</ul>
					</nav>
				</section>
				<p class="text-xs">HTML code for Nav with submenu</p>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2Fc6f840d276be4f14aa05436a6669cdde1f9972bc%2Fnav%2520submenu&style=ir-black&showCopy=on"></script>
				</div>

				<p class="text-xs">Javascript code for submenu functionality</p>
				<div class="code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fpoornima-alugubelly%2Fcodesnippets%2Fblob%2F12c001cae355a2037ee24e8dab06f47dd10efd06%2Fsubmenu%2520JS&style=ir-black&showCopy=on"></script>
				</div>
			</div>
		</div>
		<a
			href="#nav-bar"
			class="btn btn-primary-solid btn-floating btn-floating-bottom"
		>
			<i class="fas fa-arrow-up"> </i>
		</a>
		<footer class="footer flex-column">
			<p>Made by poornima</p>
			<ul class="social-links list-non-bullet flex-center">
				<li class="list-item-inline">
					<a
						class="link"
						href="https://github.com/poornima-alugubelly"
						target="_blank"
					>
						<i class="fa-fw fab fa-github fa-2x icons"></i>
					</a>
				</li>
				<li class="list-item-inline">
					<a
						class="link"
						href="https://www.linkedin.com/in/poornima-alugubelly-aa13291b6/"
						target="_blank"
					>
						<i class="fa-fw fab fa-linkedin fa-2x icons"></i>
					</a>
				</li>
				<li class="list-item-inline">
					<a
						class="link"
						href="https://twitter.com/Moony_codes "
						target="_blank"
					>
						<i class="fa-fw fab fa-twitter fa-2x icons"></i>
					</a>
				</li>
			</ul>
			<small>© 2022 Asimov Creations</small>
			<small
				><a class="acknowledgement" href="https://storyset.com/technology"
					>Technology illustrations by Storyset</a
				></small
			>
		</footer>

		<script src="../../doc-page-js/Sidebar.js"></script>
		<script src="./Navigation.js"></script>
	</body>
</html>
