<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./Navigation.css" />
  </head>
  <body>
    <nav class="nav-bar one-edge-shadow">
        <div class="nav-bar-primary">
            <a href="../../index.html" class="nav-bar-logo">ASIMOV</a>
      <ul class="nav-bar-links">
        <li><a href="../../index.html" class="link-text">Home</a></li>
        <li><a href="#" class="link-text">Shop Now</a></li>
      </ul>
        </div>
      

      <ul class="nav-bar-links ">
        <li>
          <i class="fa-fw fas fa-user-alt btn-icon"></i>
          <li>
              <div class="badge-wrapper">
            <i class="fa-fw fas fa-heart btn-icon"></i>
            <span class="badge badge-top badge-s badge-red">3</span>
          </div>
        </li>
          <li>
            <div class="badge-wrapper">
                <i class="fas fa-shopping-cart btn-icon"></i>
                <span class="badge badge-top badge-s badge-red">7</span>
              </div>
          </li>
        </li>
      </ul>
    </nav>
  </body>
</html>
