@import url(../../style.css);

.rating-star-container input[type="radio"] {
	appearance: none;
}

.rating-star-icon {
	color: #fad400;
	font-size: 1.5rem;
	cursor: pointer;
}

.rating-star-container {
	display: flex;
	gap: 1rem;
}
