<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>
    <link rel="stylesheet" href="./Badge.css">
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <section class="flex-column gap-m container">
       <div></div>
            <div class="badge-wrapper">
                <p> this is text with badge</span>
                <span class="badge badge-text badge-top badge-s badge-red">11</span>
            </div>
          
            <div class="badge-wrapper">
                <span>this is text with large badge</span>
              
              <span class=" badge  badge-text badge-top badge-lg badge-red">11</span>
            </div>
          
          <div class="badge-wrapper">
               <button class="button">Action</button>
              
            <span class="badge badge-top badge-s badge-red">11</span>
          </div>
       
        <div class="badge-wrapper">
             <button class="badge-toggle-btn button">Toggle</button>
            
          <span class="badge-toggle badge badge-top badge-s badge-red">11</span>
        </div>
  
        <div class="badge-wrapper">
            <i class="fas fa-home fa-2x"></i>
            
          <span class="badge-toggle badge badge-top badge-s badge-red">11</span>
        </div>
        <div class="avatar avatar-xl badge-wrapper">
            <img class="avatar-round" src="https://picsum.photos/200/300" alt="" />
            <span class="badge badge-status badge-green"></span>
           
          </div>
        <div class="avatar avatar-l badge-wrapper">
            <img class="avatar-round" src="https://picsum.photos/200/300" alt="" />
            <span class="badge badge-status badge-red"></span>
           
          </div>

          <div class="avatar avatar-m badge-wrapper">
            <img class="avatar-round" src="https://picsum.photos/200/300" alt="" />
            <span class="badge badge-status badge-yellow"></span>
           
          </div>

          
    </section>
      
    </section>
  </body>
</html>
