<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Utilities</title>
    <link rel="stylesheet" href="./Text-Utilities.css" />
  </head>
  <body>
    <section class="padding-s">
      <div class="text-xl">Very Large Text</div>
      <div class="text-l">Large Text</div>
      <div class="text-m">Medium Text</div>
      <div class="text-s">Small Text</div>
      <div class="text-xs">Very Small Text</div>
      <div class="text-xxs">Very very small text</div>

      <h1 class="text-heading">Heading Text</h1>
      <div class="text-gray">Gray Text</div>
      <div class="text-center">Centered Text</div>
    </section>
  </body>
</html>
