<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="./Alert.css" />
  
  </head>
  <body>
    <nav class="nav-bar flex-center one-edge-shadow">
      <div class="nav-primary">
        <span class="nav-bar-logo txt-high-light">ASIMOV</span>
        <a href="#" class="toggle-btn">
          <span class="toggle-bar"></span>
          <span class="toggle-bar"></span>
          <span class="toggle-bar"></span>
        </a>
      </div>

      <div class="nav-bar-pills">
        <ul class="flex-center">
          <li><a href="../../index.html" class="nav-link link-colored">Home</a></li>
          <li><a href="../Alert/Alert.html" class="nav-link link-colored">Documentation</a></li>
          <li><a href="#" class="nav-link link-colored">Examples</a></li>
        </ul>
      </div>
    </nav>
    <div class="grid-15-85">
      <div class="side-nav">
        <h2 class="heading txt-high-light text-s">Components</h2>
        <ul class="flex-column">
          <li class="side-nav-item text-xs">
            <a href="../Alert/Alert.html" class="side-nav-item">Alert</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Avatar/Avatar.html" class="side-nav-item">Avatar</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Badge/Badge.html" class="side-nav-item">Badge</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Button/Button.html" class="side-nav-item">Button</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Card/Card.html" class="side-nav-item">Card</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Image/Image.html" class="side-nav-item">Image</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Input/Input.html" class="side-nav-item">Input</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Text-Utilities/Text-Utilities.html" class="side-nav-item">Text Utilities</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../List/List.html" class="side-nav-item">List</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="../Navigation/Navigation.html" class="side-nav-item">Navigation</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="#" class="side-nav-item">Modal</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="#" class="side-nav-item">Rating</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="#" class="side-nav-item">Toast</a>
          </li>
          <li class="side-nav-item text-xs">
            <a href="#" class="side-nav-item">Simplified Grid</a>
          </li>
        </ul>
      </div>
      <div class="container-gutter flex-column">
        <section class="section-container">
          <h1 class="text-heading text-l txt-high-light">Alert</h1>
          <p class="text-s">
            An alert displays a short, important message in a way that attracts
            the user's attention without interrupting the user's task.
          </p>
        </section>
        <section">
          <h2 class="text-heading text-m txt-high-light">Simple Alert</h2>
          <p>
            Alerts are available in 5 types- success alert, error alert, warning
            alert, primary alert, secondary alert.
          </p>
          <p>You can copy html part from below code snippet.</p>
        </section>
        <section class="component-showcase">
          <div class="alert alert-primary">This is a primary alert!  <a href="#" class="link-text">Check it out</a></div>
          <div class="alert alert-secondary">This is a secondary alert!</div>
          <div class="alert alert-success"><i class="fa-fw far fa-check-circle"></i> <span>This is a success alert!</span>  </div>
          <div class="alert alert-danger"><i class="fa-fw far fa-times-circle"></i> <span>This is a danger alert!</span> </div>
          <div class="alert alert-warning"><i class="fa-fw fas fa-exclamation-triangle"></i> <span>This is a warning alert!</span></span> 
        </section>
        <code  >
          <iframe
  src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=blackboard&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=47px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%253Cdiv%2520class%253D%2522alert%2520alert-success%2522%253E%253Ci%2520class%253D%2522fa-fw%2520far%2520fa-check-circle%2520alert-icon%2522%253E%253C%252Fi%253EThis%2520is%2520a%2520success%2520alert%21%253C%252Fdiv%253E%250A%250A"
  style="width: 100%; height: 226px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin " scrolling="no">
</iframe>
</iframe>
        </code>
      </div>
    </div>
    <footer class="footer flex-column">
      <p>Made by poornima</p>
      <ul class="social-links list-non-bullet flex-center">
        <li class="list-item-inline">
          <a
            class="link"
            href="https://github.com/poornima-alugubelly"
            target="_blank"
          >
            <i class="fa-fw fab fa-github fa-2x icons"></i>
          </a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://www.linkedin.com/in/poornima-alugubelly-aa13291b6/"
            target="_blank"
          >
            <i class="fa-fw fab fa-linkedin fa-2x icons"></i>
          </a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://twitter.com/Moony_codes "
            target="_blank"
          >
            <i class="fa-fw fab fa-twitter fa-2x icons"></i>
          </a>
        </li>
      </ul>
      <small>© 2022 Asimov Creations</small>
      <small
        ><a class="acknowledgement" href="https://storyset.com/technology"
          >Technology illustrations by Storyset</a
        ></small
      >
    </footer>
  </body>
</html>
